################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FinalLessonGit/FileContentIndex/0649a89e-70f3-4ab3-b7df-9fd5c70dede3.vsidx
